

.dialog-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
  }
  
  .dialog {
    width: 400px;
    background-color: white;
    display: flex;
    align-items:  center;
  }
  
  .dialog-form {
    width: 100%;
    margin-bottom: 0;
    padding: 20px;
  }
  
  .dialog-form > * {
    display: block;
  }
  
  .username-label {
    text-align: left;
    font-size: 16px;
    font-family: "Lato", Helvetica, sans-serif;
  }
  
  .username-input {
    margin: 10px 0 10px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .username-input:focus {
    border-color: #003366;
    outline: 0 none;
  }
  
  .submit-btn {
    float: right;
    border: none;
    font-family: "Lato", Helvetica, sans-serif;
  }
  
  .submit-btn:hover {
    cursor: pointer;
    color: #003366;
  }
  
  .submit-btn:active {
      border: 0;
      outline: none;
  }
  
  .close {
    cursor: pointer;
    color: #003366;
    font-size: 1.8em;
  }